<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title"> Sponsors</h3>
                            </div>

                            <div class="box-body table-responsive">
                                <div *ngIf="sponsors?.length">
                                    <table class="table table-bordered ">
                                        <tbody>
                                            <tr style="background-color: rgba(210, 210, 210, 0.8);">
                                                <th>Full Name</th>
                                                <th>Mobile Number</th>
                                                <th>District</th>
                                                <th>Birth Date</th>

                                                <th>Action</th>
                                            </tr>
                                            <tr *ngFor="let sponsor of sponsors ">
                                                <td> {{sponsor.firstName}} {{sponsor.lastName}}</td>
                                                <td> {{sponsor.mobileNo}}</td>
                                                <td> {{sponsor.district}}</td>
                                                <td> {{sponsor.dateOfBirth | date:'dd/MM/yyyy'}}</td>

                                                <td>
                                                    <button class="btn btn-xs btn-default" data-original-title="Save Row" (click)="getSponsorDetail(sponsor.id)" data-toggle="modal"
                                                        data-target="#modal-default" class="btn btn-default">
                                                        <i class="fa  fa-list-alt"></i>
                                                    </button>
                                                    <!-- <button class="btn btn-xs btn-default" data-original-title="Cancel" (click)="deleteSponsor(sponsor.id)">
                                                        <i class="fa fa-times"></i>
                                                    </button> -->

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="! sponsors?.length">
                                    <b>No data Available...</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Sponsor Detail</h4>
            </div>
            <div class="modal-body">



                <div class="form-group" style="text-align:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <label class="col-md-6 control-label" for="role-name" style="text-align:left">Full Name : {{detail.firstName}} {{ detail.lastName}}</label>
                    </div>
                </div>
                <div class="form-group" style="text-align:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <label class="col-md-6 control-label" for="role-name" style="text-align:left">Gender : {{detail.gender}}</label>
                    </div>
                </div>

                <div class="form-group" style="text-align:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <label class="col-md-6 control-label" for="role-name" style="text-align:left">Birth Date : {{detail.dateOfBirth| date:'dd/MM/yyyy'}}</label>
                    </div>
                </div>

                <div class="form-group" style="text-align:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <label class="col-md-6 control-label" for="role-name" style="text-align:left">Mobile Number : {{detail.mobileNo}}</label>
                    </div>
                </div>

                <div class="form-group" style="text-align:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <label class="col-md-6 control-label" for="role-name" style="text-align:left">Address : {{detail.address}}, {{detail.taluka}}, {{detail.district}}, {{detail.state}}, {{detail.pincode}}
                            </label>
                    </div>
                </div>

                <div class="form-group" style="text-align:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <label class="col-md-6 control-label" for="role-name" style="text-align:left">Company Representative: {{detail.companyRepresenatative}}</label>
                    </div>
                </div>

                <div class="form-group" style="text-align:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <label class="col-md-6 control-label" for="role-name" style="text-align:left">Representative Designation : {{detail.designation}}</label>
                    </div>
                </div>

                <div class="form-group" style="text-align:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <label class="col-md-6 control-label" for="role-name" style="text-align:left">Modified DateTime : {{detail.modifieddate | date:'dd/MM/yyyy, hh:mm:ss'}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

            </div>
        </div>

    </div>

</div>