<app-account-header></app-account-header>

<div class="container" style="margin-top:150px;margin-bottom:70px">

  <div class="col-sm-1"></div>
  <div class="col-lg-10 well">
    <div class="row">
      <form #user="ngForm" novalidate (ngSubmit)="registerSponsor(user)" class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <div class="col-md-12">
            <legend style="text-align:center">Sponsor Registration</legend>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="first-name">First Name</label>
            <div class="col-md-4">
              <input id="first-name" type="text" required name="firstName" class="form-control input-md" placeholder="Your first name"
                tmFocus ngModel #firstNameRef="ngModel">
                <div *ngIf="firstNameRef.errors && (firstNameRef.dirty || firstNameRef.touched)" class="text-danger">
                    <div [hidden]="!firstNameRef.errors.required">  First Name is required.</div>
                    <div [hidden]="!firstNameRef.errors.minlength">  Name must be at least 4 characters long</div>
            </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="last-name">Last Name</label>
            <div class="col-md-4">
              <input id="last-name" type="text" required name="lastName" class="form-control input-md" placeholder="Your last name" ngModel #lastNameRef="ngModel">
              <div *ngIf="lastNameRef.errors && (lastNameRef.dirty || lastNameRef.touched)" class="text-danger">
                  <div [hidden]="!lastNameRef.errors.required"> Last Name is required.</div>									
              </div>
            </div>
          </div> 

          <div class="form-group">
            <label class="col-md-4 control-label" for="gender">Gender</label>
            <div class="col-md-4">
                <div class="radio">
                    <label>
                        <input type="radio" name="gender" value="Male" [checked]='true' ngModel> Male
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="gender" value="Female" ngModel> Female
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label" for="birth-date">Birth Date</label>
          <div class="col-md-4">
              <input id="dateOfBirth" type="date" required name="dateOfBirth" class="form-control" placeholder="Birth Date " tmFocus ngModel
                  #dateOfBirthRef="ngModel">
              <div *ngIf="dateOfBirthRef.errors && (dateOfBirthRef.dirty || dateOfBirthRef.touched)" class="text-danger">
                  <div [hidden]="!dateOfBirthRef.errors.required">Birth Date is required.</div>
              </div>
          </div>
      </div>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="companyName">Company Name</label>
            <div class="col-md-4">
              <input id="companyName" type="text"  name="companyName" class="form-control input-md" placeholder="Company Name " ngModel>              
            </div>
          </div>  


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="companyName">Company Representative</label>
            <div class="col-md-4">
              <input id="companyRepresenatative" type="text" name="companyRepresenatative" class="form-control input-md" placeholder="Company Representative Name" ngModel>              
            </div>
          </div> 

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="designation">Designation</label>
            <div class="col-md-4">
              <input id="designation" type="text"  name="designation" class="form-control input-md" placeholder="Company Representative Designation" ngModel >             
            </div>
          </div> 


          
          <!-- Text input-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="mobileNo" >Mobile Number</label>
              <div class="col-md-4">
                <input id="mobileNo" type="text" name="mobileNo" class="form-control" placeholder=" Mobile Number" ngModel>
              </div>
            </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
              <input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel #email="ngModel">
              <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password </label>
            <div class="col-md-4">
              <input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel #password="ngModel">
              <div *ngIf="lastNameRef.errors && (lastNameRef.dirty || lastNameRef.touched)" class="text-danger">
                  <div [hidden]="!lastNameRef.errors.required"> Password is required.</div>									
              </div>
            </div>
          </div>  


          <div class="form-group">
            <label class="col-md-4 control-label" for="address">Address</label>
            <div class="col-md-4">
                <textarea id="address" type="text" required name="address" class="form-control" placeholder="Address" ngModel #addressRef="ngModel">
                         </textarea>
                <div *ngIf="addressRef.errors && (addressRef.dirty || addressRef.touched)" class="text-danger">
                    <div [hidden]="!addressRef.errors.required">Address is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="taluka">Taluka</label>
            <div class="col-md-4">
                <input id="taluka" type="text" required name="taluka" class="form-control" placeholder="Taluka" ngModel #talukaRef="ngModel">
                <div *ngIf="talukaRef.errors && (talukaRef.dirty || talukaRef.touched)" class="text-danger">
                    <div [hidden]="!talukaRef.errors.required">Taluka is required.</div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="city">District</label>
            <div class="col-md-4">
                <input id="district" type="text" required name="district" class="form-control" placeholder="District" ngModel #districtRef="ngModel">
                <div *ngIf="districtRef.errors && (districtRef.dirty || districtRef.touched)" class="text-danger">
                    <div [hidden]="!districtRef.errors.required">District is required.</div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="state">State</label>
            <div class="col-md-4">
                <input id="state" type="text" required name="state" class="form-control" placeholder="State" ngModel #stateRef="ngModel">
                <div *ngIf="stateRef.errors && (stateRef.dirty || stateRef.touched)" class="text-danger">
                    <div [hidden]="!stateRef.errors.required">State is required.</div>
                </div>
            </div>
        </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="pincode">Pincode</label>
            <div class="col-md-4">
                <input id="pincode" type="text" required name="pincode" class="form-control input-md" placeholder="pincode" tmFocus
                    ngModel #PincodeRef="ngModel">
                <div *ngIf="PincodeRef.errors && (PincodeRef.dirty ||PincodeRef.touched)" class="text-danger">
                    <div [hidden]="!PincodeRef.errors.required">Pincode is required.</div>
                </div>
            </div>
        </div>




          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
              <button id="submit" name="submit" class="btn btn-warning" [disabled]="user.invalid || isRequesting">SUBMIT</button>
            </div>
          </div>

          <!--IFError -->
          <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{errors}}
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div> 


<app-account-footer></app-account-footer>