
 <!-- FOOTER SECTION START --> 
 <footer>
    
      
       <!-- FOOTER BOTTOM -->
       <div>
           <div class="footer ">
               <div class="row">
                   <div class="col-lg-12">
                       <div class="copyright">
                          
                    <span>&copy; AmarDeep 2017; All rights reserved. Design By </span><a href="http://karmasolutionsinc.com/" target="_blank">KarmaSolutionsInc</a>
                         
                       </div>
                   </div>
                 
               </div>
           </div>
       </div>
   
   </footer>
   <!-- / END FOOTER SECTION -->
  