<section class="content"> 
  
      <div class="row">
          <div class="col-xs-12">
              <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs">
                      <li class="">
                          <a routerLink="/dashboard/not-sponsor" data-toggle="tab" aria-expanded="true">Not Sponsored</a>
                      </li>
                      <!-- <li class="">
                          <a routerLink="/dashboard/pending-payment" data-toggle="tab" aria-expanded="false">Pending Payment</a>
                      </li> -->
                      <li class="">
                          <a routerLink="/dashboard/sponsored" data-toggle="tab" aria-expanded="false">Sponsored</a>
                      </li>
                      <li class="active">
                          <a routerLink="/dashboard/fulfiled" data-toggle="tab" aria-expanded="false">Shipping</a>
                      </li>
                      <li>
                        <a routerLink="/dashboard/fulfiled" data-toggle="tab" aria-expanded="false">Fulfilled</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                      <!-- Waiting Section -->
                      <div class="tab-pane active" id="Waiting">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="">
                                      <!-- /.box-header -->
                                      <div class="box-body table-responsive">
                                      <div *ngIf="orders?.length">
                                          <table class="table table-bordered">
                                              <tbody>
                                                  <tr style="background-color: rgba(210, 210, 210, 0.8);">
                                                    <th>Student Name</th>
                                                    <th>Sponsor Name</th>
                                                    <th>School</th>
                                                    <th>Amount</th>                                                     
                                                    <th>Date</th>
                                                    <th>Student Photo </th>
                                                    <th>Action</th>
                                                  </tr>
                                                 
                                                  <tr *ngFor="let order of orders">
                                                    <td>{{order.studentName}}</td>
                                                    <td>{{order.sponsorName}}</td>
                                                    <td>{{order.schoolName}}</td>
                                                    <td>{{order.amount}}</td>                                                     
                                                    <td>{{order.modifieddate | date:'dd/MM/yyyy, hh:mm:ss'}}</td>
                                                      <td>
                                                          <img src="{{path}}{{order.photo}}" height="70" width="70" class="cmtimage"> </td>
                                                      <td>
                                                          <button class="btn btn-xs btn-default" data-original-title="Save Row"
                                                              (click)="studentDetail(order.id)" data-toggle="modal" data-target="#modal-default"
                                                              class="btn btn-default">
                                                              <i class="fa  fa-list-alt"></i>
                                                          </button>
                                                      </td>
                                                  </tr>                                           
                                              </tbody>
                                          </table>
                                      </div>
                                      <div  *ngIf="! orders?.length">
                                        <b>No data Available...</b>  
                                      </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  
  
  
      <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Student Detail</h4>
                  </div>
                  <div class="modal-body">
  
                      <!-- Text input-->
                      <div class="form-group" style="text-align:center">
                          <div class="row">
                              <div class="col-md-2"></div>
                              <img src="{{path}}{{detail.photo}}" height="150" width="150" class="cmtimage">
                          </div>
                      </div>
  
                      <div class="form-group" style="text-align:center">
                          <div class="row">
                              <div class="col-md-2"></div>
                              <label class="col-md-6 control-label" for="role-name" style="text-align:left">Full Name : {{detail.studentName}}</label>
                          </div>
                      </div>
                      <div class="form-group" style="text-align:center">
                          <div class="row">
                              <div class="col-md-2"></div>
                              <label class="col-md-6 control-label" for="role-name" style="text-align:left">Gender : {{detail.gender}}</label>
                          </div>
                      </div>
  
                      <div class="form-group" style="text-align:center">
                          <div class="row">
                              <div class="col-md-2"></div>
                              <label class="col-md-6 control-label" for="role-name" style="text-align:left"> BirthDate : {{detail.dateOfBirth | date:'dd/MM/yyyy'}}</label>
                          </div>
                      </div>
                      <div class="form-group" style="text-align:center">
                          <div class="row">
                              <div class="col-md-2"></div>
                              <label class="col-md-6 control-label" for="role-name" style="text-align:left">Parent Mobile No: {{detail.parentMobileNumber}}</label>
                          </div>
                      </div>
                      <div class="form-group" style="text-align:center">
                          <div class="row">
                              <div class="col-md-2"></div>
                              <label class="col-md-6 control-label" for="role-name" style="text-align:left">Address : {{detail.address}} 
                              </label>
                          </div>
                      </div>
                      <div class="form-group" style="text-align:center">
                          <div class="row">
                              <div class="col-md-2"></div>
                              <label class="col-md-6 control-label" for="role-name" style="text-align:left">School: {{detail.schoolName}}</label>
                          </div>
                      </div>
                      <div class="form-group" style="text-align:center">
                          <div class="row">
                              <div class="col-md-2"></div>
                              <label class="col-md-6 control-label" for="role-name" style="text-align:left">Standard: {{detail.standard}}</label>
                          </div>
                      </div> 

                      <div class="form-group" style="text-align:center">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <label class="col-md-6 control-label" for="role-name" style="text-align:left"> School Address : {{detail.schoolAddress}} 
                            </label>
                        </div>
                    </div>
  
                      <div class="form-group" style="text-align:center">
                              <div class="row">
                                  <div class="col-md-2"></div>
                                  <label class="col-md-6 control-label" for="role-name" style="text-align:left">Modified Date: {{detail.modifieddate | date:'dd/MM/yyyy, hh:mm:ss'}}</label>
                              </div>
                       </div>
  
  
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
  
                  </div>
              </div>
              <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
  
  
  
      <div class="modal fade" id="modal-delete">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Student is Deleted</h4>
                  </div>
  
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
  
                  </div>
              </div>
          </div>
      </div>