<app-header></app-header>
<!-- Home start -->
<section id="home">
    <div id="fn-home-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
        <a class="item-prev" href="#fn-home-carousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="item-next" href="#fn-home-carousel" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
        <div class="carousel-inner">
            <div class="item active">
                <img src="../../assets/images/slider/IMG_5403.jpg" alt="First slide" class="img-responsive">
                <div class="carousel-caption">
                    <h1 class="animated fadeInDown delay-1">Illuminate a child’s future,
                        <span>one lamp at a time.</span>
                    </h1>
                  
                    <br />
                    <a class="btn animated fadeInUp delay-4 smoothScroll" href="#causes">Donate Now</a>

                    <a class="animated fadeInUp delay-4">
                        <section id="section03" class="demo animated fadeInUp delay-4">
                            <a href="#banner" class="smoothScroll">
                                <span></span>
                            </a>
                        </section>
                    </a>



                </div>
            </div>
            <div class="item">
                <img src="../../assets/images/slider/22.png" class="img-responsive" />

                <div class="carousel-caption">
                    <h1 class="animated fadeInDown delay-1"> Meet our Shining
                        <span>Stars</span>
                    </h1>
                    <p class="animated fadeInDown delay-3"> </p>
                    <a class="btn animated fadeInUp delay-4 smoothScroll" href="#causes">Konw More</a>
                </div>
            </div>
            <div class="item">
                <img src="../../assets/images/slider/students-l1.jpg" alt="Third slide" class="img-responsive">
                <div class="carousel-caption">
                    <h1 class="animated fadeInDown delay-1">Don’t just donate and hope for the best.
                        <br>
                        <span> Experience the joy of giving. </span>
                    </h1>
                    <p class="animated fadeInDown delay-3"> </p>
                    <a class="btn animated fadeInUp delay-4" href="#">Know More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / END HOME CAROUSEL -->
<!-- DONATE BUTTON PROMO START -->
<div class="donate-promo">
    <div class="container">
        <div class="col-sm-9 wow slideInUp animated">
            <h2>
                <b>To change the life of those</b> who have no light</h2>
        </div>
        <div class="col-sm-3 wow swing animated">
            <a class="fn-donate-btn smoothScroll" href="#causes">Donate Now</a>
        </div>
    </div>
</div>
<!-- / END DONATE BUTTON PROMO -->







<!-- BANNER START -->
<section id="banner" class="section-padding">
    <div class="container">
        <div class="row wow bounceIn animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <div class="col-sm-12">
                <div class="fn-section-header">
                    <h2 class="section-title text-center pseudo_border">About Us</h2>
                    <!--   <h3 class="text-center">Give a Helping hand; To Those Who Need It</h3> -->
                    <p class="text-center">Educational Inequality is a multi-faceted problem. A lot of efforts have been undertaken to address the
                        issue of attendance and skill development. But, one of the key contributing factors is infrastructural
                        imparity, especially in socioeconomically challenged parts. We are aiming to address the problem
                        of lack of electricity in rural areas with a simple yet effective solution- Amardeep- A lamp that
                        will last a lifetime.</p>
                </div>
                <div class="banner">
                    <img src="../../assets/images/help-banner.png" class="img-responsive center-block" alt="help">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / END HERO -->
<!-- ABOUT SECTION START -->
<section id="about" class="gray-bg section-padding  about-us">
    <div class="container">
        <div class="row">
            <div class="section-content">
                <div class="media-content media-left col-md-4 from-bottom delay-200" style="opacity: 1; bottom: 0px;">
                    <div class="meida-container">
                        <img src="../../assets/images/light2.jpg" class="img-responsive" />
                    </div>
                    <!-- /.meida-container -->
                </div>
                <!-- /.media-content -->

                <div class="content-box col-md-8 from-bottom delay-600 " style="opacity: 1; bottom: 0px;">
                    <div class="wow flipInX animated col-xs-12 col-sm-6 col-md-3 text-center animated hide-mob">
                        <div class="icon-circle">
                            <i class="fa fa-history"></i>
                        </div>
                    </div>
                    <h3 class="content-title">Our Story</h3>
                    <p>
                        <strong> We decided to work for a world where there will be a level playing field. Any child with passion,
                            dedication and dreams won’t be left behind because of our failure to support them.</strong>
                    </p>
                    <p class="item">

                        After understanding the issue, we went ahead & developed our own solution- Amardeep- A lamp that runs on solar energy. Education
                        is a fundamental right. Many of our finest NGOs, NPOs, and municipalities have fought to provide
                        our children with a solid education.
                        <!-- <a href="#" class="read_more">...Read More</a>
                        <br/>

                        <span class="more_text hidden2"> -->
                            But what happens when the students go home? Did you know that 50 million households in India do not have access to electricity?
                            (Source: economic times) These students living don’t get the opportunity to self-study and practice
                            their schoolwork at home at night. The students who do, currently use harmful kerosene lamps.

                        <!-- </span> -->

                    </p>
                </div>
                <!-- /.content-box -->
            </div>
            <!-- /.section-content -->
        </div>
    </div>
</section>
<!-- END ABOUT SECTION -->
<!-- ABOUT SECTION START -->
<section id="about" class="white-bg section-padding  about-us">
    <div class="container">
        <div class="row">
            <div class="section-content">
                <div class="content-box col-md-8 from-bottom delay-600 " style="opacity: 1; bottom: 0px;">
                    <div class="wow flipInX animated col-xs-12 col-sm-6 col-md-3 text-center animated hide-mob">
                        <div class="icon-circle">
                            <i class="fa  fa-eye"></i>
                        </div>
                    </div>
                    <h3 class="content-title">Our Mission</h3>
                    <p>
                        <strong> Our children are our future and it is our responsibility to nurture their potential. Our mission
                            is to build a platform where anyone can work for children and watch their small step bring big
                            tides of change.</strong>
                    </p>
                    <p class="item">
                        Millions of children in remote & impoverished villages don’t have the basic amenities and opportunities we often take for
                        granted, but their hunger for success is fierce. Together, we can light up their potential and help
                        them become the shining stars they intrinsically are.
                        <!-- <a href="#" class="read_more">..Read More</a>
                        <span class="more_text hidden2"> -->
                            The lamp equates to 3 extra hours of studying a night. Let’s say the student studies 5 days a week. That’s 15 hours of extra
                            studying per week. Extend that to a year, and that is 780 hours of excellently lighted studying.
                            This can make a huge difference in children’s academic success, opening up new doors of opportunity
                            for them.
                        <!-- </span> -->


                    </p>
                </div>
                <!-- /.content-box -->

                <div class="media-content media-left col-md-4 from-bottom delay-200" style="opacity: 1; bottom: 0px;">
                    <div class="meida-container">
                        <img src="../../assets/images/vvv.png" class="img-responsive" />

                        <!-- <div class="img_hover_section ">
                            <span>
                                <a href="https://www.actionaidindia.org/cause/childrens-education-and-nutrition/">View Details</a>
                            </span>
                        </div> -->

                    </div>
                    <!-- /.meida-container -->
                </div>
                <!-- /.media-content -->


            </div>
            <!-- /.section-content -->
        </div>
    </div>
</section>
<!-- END ABOUT SECTION -->



<!-- ABOUT SECTION START -->
<section id="causes" class="gray-bg section-padding  about-us" >
        <app-shining-stars> </app-shining-stars>
</section>


<!-- SUCCESS SECTION START -->
<section id="fn-success" class="fn-success section-padding" style="padding-top: 78px">
    <div class="container-fluid">
        <div class="row wow bounceIn animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <div class="fn-section-header">
                <h2 class="section-title text-center pseudo_border">Impact</h2>

            </div>
            <div class="banner">
                <img src="../../assets/images/lamp-impact.png" class="img-responsive center-block" alt="help">
            </div>
        </div>

    </div>
</section>
<!-- / END SUCCESS SECTION -->
<!-- GOOGLE MAP START -->
<div id="google-map" class="section-padding">
    <div class="fn-section-header" style="margin-top:4%">
        <h2 class="section-title text-center pseudo_border">Donate Now</h2>
        <h4 class="text-center" style="line-height:1.8">Please choose where you’d like to give the gift of light.</h4>
    </div>


    <div class="wow animated fadeInUp map-container">

        <iframe src="https://www.google.com/maps/d/embed?mid=1tjjcWHyiogcqX3auEmkJemUVGkE" width="100%" height="480"></iframe>

    </div>
</div>
<!-- / END GOOGLE MAP -->


<!-- What You Get in Return SECTION START -->
<div id="whatyou" class="gray-bg section-padding helps">
    <div class="container">
        <div class="row wow zoomIn animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <!-- SECTION HEADER -->
            <div class="fn-section-header">
                <h2 class="section-title text-center pseudo_border">What You Get in Return</h2>

            </div>
            <!-- / END SECTION HEADER -->


            <div class="section-details">
                <div class="help-details">
                    <div class="col-md-3 col-sm-6 item">
                        <div class="item-inner">
                            <div class="item-icon">
                                <i class="icon fa fa-lightbulb-o"></i>
                            </div>
                            <!-- /.item-icon -->
                            <h4 class="item-title">Verification that the student has received the lamp</h4>
                            <!-- /.item-title -->
                            <p class="item-description">
                                You will receive conformation from the student’s representative that they have received their lamp, so you know your donation
                                is going to the right place.
                            </p>
                            <!-- /.item-description -->

                        </div>
                        <!-- /.item-inner -->
                    </div>

                    <div class="col-md-3 col-sm-6 item">
                        <div class="item-inner">
                            <div class="item-icon">
                                <i class="icon fa fa-video-camera"></i>
                            </div>
                            <!-- /.item-icon -->
                            <h4 class="item-title">Photos and Videos of the the student using the lamp</h4>
                            <!-- /.item-title -->
                            <p class="item-description">
                                See for yourself your student using their new Amardeep!
                                <br>
                                <br>
                                <br>
                                <br>

                            </p>
                            <!-- /.item-description -->
                            <!-- /.btn-container -->
                        </div>
                        <!-- /.item-inner -->
                    </div>

                    <div class="col-md-3 col-sm-6 item">
                        <div class="item-inner">
                            <div class="item-icon">
                                <i class="icon fa fa fa-list-alt"></i>
                            </div>
                            <!-- /.item-icon -->
                            <h4 class="item-title">Mark-sheets of the student</h4>
                            <!-- /.item-title -->
                            <p class="item-description">
                                Measure the impact of your donation by tracking their academic progress.
                                <br>
                                <br>
                                <br>
                                <br>
                            </p>
                            <!-- /.item-description -->
                            <!-- /.btn-container -->
                        </div>
                        <!-- /.item-inner -->
                    </div>

                    <div class="col-md-3 col-sm-6 item">
                        <div class="item-inner">
                            <div class="item-icon">
                                <i class="icon fa fa-users"></i>
                            </div>
                            <!-- /.item-icon -->
                            <h4 class="item-title">Direct interaction with the representative of the child</h4>
                            <!-- /.item-title -->
                            <p class="item-description">
                                Talk to the representative to find out more about the child’s progress.
                                <br>
                                <br>
                                <br>
                            </p>
                            <!-- /.item-description 
                            <div class="btn-container">
                                <a href="#" class="fn-donate-btn smoothScroll">Donate Now</a>
                            </div><!-- /.btn-container -->
                        </div>
                        <!-- /.item-inner -->
                    </div>

                </div>

                <div class="col-md-12 text-center">
                    <br>
                    <br>
                    <div class="btn-container">
                        <a href="#" class="fn-donate-btn smoothScroll">Donate Now</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- / END CAUSES SECTION -->


<!-- CONTACT SECTION START -->
<section id="contact" class="section-padding">
<app-contact></app-contact>
</section>
<!-- / END CONTACT SECTION -->
<!-- Our Sponser SECTION START -->
<section id="testimonials" class="fn-success section-padding">
    <div class="parallax-overlay dark-overlay">
        <div class="container">
            <div class="row number-counters" style="padding-bottom: 68px;padding-top: 48px;">
                <!-- SECTION HEADER -->
                <div class="fn-section-header">
                    <br />
                    <br />
                    <br />
                    <h2 class="section-title text-center pseudo_border" style="color:white;">Our Sponsors</h2>
                </div>
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="clients-logo">
                        <div class="col-sm-3">
                            <div class="client-logo">
                                <a href="#">
                                    <img src="../../assets/images/oure.jpg" alt="Clients Logo">
                                </a>
                            </div>
                            <!-- /.client-logo -->
                        </div>
                        <!-- /.col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="client-logo">
                                <a href="#">
                                    <img src="../../assets/images/pune.png" alt="Clients Logo">
                                </a>
                            </div>
                            <!-- /.client-logo -->
                        </div>
                        <!-- /.col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="client-logo">
                                <a href="#">
                                    <img src="../../assets/images/client-3.png" alt="Clients Logo">
                                </a>
                            </div>
                            <!-- /.client-logo -->
                        </div>
                        <!-- /.col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="client-logo">
                                <a href="#">
                                    <img src="../../assets/images/client-4.png" alt="Clients Logo">
                                </a>
                            </div>
                            <!-- /.client-logo -->
                        </div>
                        <!-- /.col-sm-3 -->
                    </div>



                </div>
               
            </div>
        </div>
    </div>
</section>

<!-- GALLERY SECTION START -->
<section id="gallery" class="gray-bg section-padding">
    <div class="container">
        <!-- SECTION HEADER -->
        <div class="fn-section-header">
            <h2 class="section-title text-center pseudo_border">Our Gallery</h2>
            <!--<p class="text-center" style="margin-top:1%">TAKE A LOOK AT OUR GALLERY TO SEE HOW WE ENDANGER THE CHILD. YOU MAY ALSO SEE OUR WORLDWIDE ACTIVITY AROUND THE GLOBE HOW WE WORKING FOR CHILDREN.</p>-->
        </div>

        <!-- GALLERY ITEMS -->
        <div id="MAY" class="month">

            <div class="row" style="margin-bottom:12px;">
                <div class="responsive">
                    <div class="gallery">
                        <a class="example-image-link" href="../../assets/images/gallery/1111.jpg" data-lightbox="example-1">

                            <img src="../../assets/images/gallery/1111.jpg" width="600" height="400">
                        </a>

                    </div>
                </div>


                <div class="responsive">
                    <div class="gallery">
                        <a class="example-image-link" href="../../assets/images/gallery/2222.jpg" data-lightbox="example-1">
                            <img src="../../assets/images/gallery/2222.jpg" alt="Forest" width="600" height="400">
                        </a>

                    </div>
                </div>

                <div class="responsive">
                    <div class="gallery">
                        <a class="example-image-link" href="../../assets/images/gallery/3333.jpg" data-lightbox="example-1">
                            <img src="../../assets/images/gallery/3333.jpg" alt="Northern Lights" width="600" height="400">
                        </a>

                    </div>
                </div>

                <div class="responsive">
                    <div class="gallery">
                        <a class="example-image-link" href="../../assets/images/gallery/4444.jpg" data-lightbox="example-1">
                            <img src="../../assets/images/gallery/4444.jpg" alt="Mountains" width="600" height="400">
                        </a>

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="responsive">
                    <div class="gallery">
                        <a class="example-image-link" href="../../assets/images/gallery/5555.jpg" data-lightbox="example-1">
                            <img src="../../assets/images/gallery/5555.jpg" alt="Mountains" width="600" height="400">
                        </a>

                    </div>
                </div>


                <div class="responsive">
                    <div class="gallery">
                        <a class="example-image-link" href="../../assets/images/gallery/6666.jpg" data-lightbox="example-1">
                            <img src="../../assets/images/gallery/6666.jpg" alt="Mountains" width="600" height="400">
                        </a>

                    </div>
                </div>



                <div class="responsive">
                    <div class="gallery">
                        <a class="example-image-link" href="../../assets/images/gallery/7777.jpg" data-lightbox="example-1">
                            <img src="../../assets/images/gallery/7777.jpg" alt="Mountains" width="600" height="400">
                        </a>

                    </div>
                </div>


                <div class="responsive">
                    <div class="gallery">
                        <a class="example-image-link" href="../../assets/images/gallery/8888.jpg" data-lightbox="example-1">
                            <img src="../../assets/images/gallery/8888.jpg" alt="Mountains" width="600" height="400">
                        </a>

                    </div>
                </div>
            </div>

        </div>







    </div>

</section>
<!-- / END GALLERY SECTION -->


<app-footer></app-footer>